
extends:
  - '../.eslintrc'
  - './.eslintrc-screeps.yml'

globals:
  Player: true
  ID: true

rules:
  new-cap:
    - Error
    - newIsCap: true
      capIsNew: true
      newIsCapExceptions: []
      newIsCapExceptionPattern: ''
      capIsNewExceptions: ['ID'] # changed
      capIsNewExceptionPattern: ''
      properties: true
