
extends: 'C:/Users/kilia/GitHub/github-misc/eslint/eslintrc.yml'


parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx: false


env:
  es6: true
  node: true


globals:
  Game: true
  Map: true
  Market: true
  Memory: true
  PathFinder: true
  RawMemory: true


rules: {}
